{% extends 'core/base_employee.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/employee_category_style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style_employee.css' %}">
{% endblock %}

{% block content %}
    <div class="main_container">
    <h1>Kategorie</h1>
        <div class ="category_section">
            {% for category in categories %}
            <div class="category_card">
                <div class="category_info">
                    <h2>{{ category.title }}</h2>
                    <h4>{{ category.description }}</h4>

                    <div class="button_box">
                            <a href="{% url 'edit_category' category.id %}">
                                <button class="function_button">Edutuj</button>
                            </a>
                            <form action="{% url 'delete_category' category.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="function_button">
                                    Usuń
                                </button>
                            </form>
                        </div>
                </div>
            </div>
            {% empty %}
                <p>No cats available right now :(</p>
            {% endfor %}
        <a href="{% url 'add_category' %}">
            <div class="add_card">
                <h2>+</h2>
            </div>
        </a>
        </div>
    </div>
{% endblock %}